<h1>Job Queue</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>key</th>
      <th>idx</th>
      <th>dump</th>
    </tr>
  </thead>
  <tbody>
    <%= for job <- @jobs do %>
      <tr>
        <td><%= job.key %></td>
        <td><%= job.idx %></td>
        <td><pre><%= inspect(job) %></pre></td>
      </tr>
    <% end %>
  </tbody>
</table>
